@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@600&display=swap');

body{
    margin: -16px 0px 0px 0px;
}

.header{
	text-align: center;
    margin: auto;
	height: 85px;
	background-color: #0C5256;
}

.header ul li{
	font-family: "Roboto",'Times New Roman', Times, serif;
	font-weight: bold;
	display: inline-block;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	margin:31.5px 100px 31.5px 100px;
}

.header a{
	text-decoration: none;
	color: #ffffff;
	padding: 5px;
}

.header a:hover{
	background-color: #0dacb4;
}

.utama .gmbr{
    margin: auto;
	height: 418px;
	background-image: url("utama.jpg");
    background-size: cover;
}

.tujuan{
	font-family: "Righteous",'Times New Roman', Times, serif;
	margin: auto;
	color:  #ffffff;
	font-family: "Righteous";
    font-size: 48px;
    padding-top: 5%;
    padding-left: 3%;
}

.tujuan > span{
    font-family: "Righteous",'Times New Roman', Times, serif;
	margin: auto;
	color:  #ffffff;
	font-family: "Righteous";
    font-size: 144px;
}

.bagian1{
    margin: auto;
    margin-top: 55px;
    border: solid #0C5256 10px;
    border-radius: 50px;
    width: 1340px;
    height: 704px;
    display: flex;
}

#gambar1{
    background-image: url("gambar1.jpg");
    background-size: cover;
    border-radius: 20px;
    width: 286px;
    height: 363px;
    padding-right: 230px;
    margin-top: 48px;
    margin-left: 65px;
}

.bagian2{
    margin: auto;
    margin-top: 55px;
    border: solid #0C5256 10px;
    border-radius: 50px;
    width: 1340px;
    height: 704px;
    display: flex;
}

#gambar2{
    background-image: url("gambar2.jpg");
    background-size: cover;
    border-radius: 20px;
    width: 286px;
    height: 363px;
    padding-right: 230px;
    margin-top: 48px;
    margin-left: 65px;
}

.penjelasan{
    margin-left: 73px;
    margin-right: 69px;
}

h1{
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 48px;
}

p{
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 26px;
    margin-top: -20px;
}

.rincian{
    display: flex;
}

.jadwal{
    background-image: url("jadwal.png");
    width: 49px;
    height: 49px;
    display: flex;
}

.jam{
    background-image: url("jam.png");
    width: 47px;
    height: 47px;
    margin-top: 17px;
}

.lokasi{
    background-image: url("lokasi.png");
    width: 40px;
    height: 55px;
    margin-top: 13px;
    margin-left: 5px;
}

.tiket{
    background-image: url("tiket.png");
    width: 80px;
    height: 70px;
    margin-left: -25px;
    margin-top: -17px;
}

.teks{
    font-family: "Roboto",'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 33px;
    line-height: 60px;
}

a{
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #2D9CDB;
    text-decoration: none;
}